## Mes Premiers programmes Python

In [5]:
import re, inspect

### Variables, mémoire et type

On considère le petit bout de programme suivant:

a = 3

b = 2 * a

a = 5

Quelles sont les valeurs de a et b d'après vous à la fin du programme ?

Implémenter le code précédent en python et afficher les valeurs des variables

In [1]:
a = 3

b = 2 * a

a = 5

print(a,b)

5 6

Exécuter et intérptéter le code suivant:

In [2]:
a, b = 6, 10      
print('La somme de ces 2 nombres vaut :', a + b)

La somme de ces 2 nombres vaut : 16

Analyser le code ci dessous:

In [3]:
chaine,entier,decimal=("ceci est une chaîne",12,15.0)
print(chaine,type(chaine))
print(entier,type(entier))
print(decimal,type(decimal))

ceci est une chaîne <class 'str'>
12 <class 'int'>
15.0 <class 'float'>

A l'aide de la fonction type afficher le type des variables ci-dessous :

In [2]:
d='Je suis un texte' 
e=True
f=False
g=1.2

In [6]:
 def varname(p):
  for line in inspect.getframeinfo(inspect.currentframe().f_back)[3]:
    m = re.search(r'\bvarname\s*\(\s*([A-Za-z_][A-Za-z0-9_]*)\s*\)', line)
    if m:
      return m.group(1)
for i in [d,e,f,g]:
    print(f'{varname(i)} est de type {type(i)}')

i est de type <class 'str'>
i est de type <class 'bool'>
i est de type <class 'bool'>
i est de type <class 'float'>

Afficher la valuer de la variable c

In [67]:
a = 12
b = 36
c = a * b
#TBD

* Afficher les valeur des variables c et d

Interpréter les outputs

In [ ]:
a=4 + 5

b = 3 - 7            # les espaces sont optionnels

c = 5 + 2 * 3        # la priorité des opérations mathématiques est-elle respectée ?

d = (6 + 3) * 2

e = 5**2             #Pour calculer une puissance, on utilise **
f = 7 / 2
g = 7 // 2           #Pour une division entière, il faut utiliser // 
h = 7 % 2

print(a,b,c,d,e,f,g,h)

A l'aide de la fonction type afficher le type des variables suivantes.

In [68]:
string1 = "Hello"
integer = 3
float1 = 3.5
liste = [1,2,3,4]
d = True

#TBC

* convertir les variables suivantes au type demandé ..

In [69]:
a=2 

#TBD #en float
b=3.1
# TBD #en int
# TBD #en string

### Les chaines de caractère

* définir dans une variable t1, votre 'Nom'
* définir dans une variable t2, votre 'Prenom'

* afficher t1 + t2

In [12]:
t1="Nom"
t2="Prenom"
t1+t2

'NomPrenom'

* Reprendre l'ex ci dessus en définissant les Nom et Prenom dans une meme variable

In [17]:
t3=t1+" "+t2
t3

'Nom Prenom'

* suivre les instructions ci dessous:

In [28]:
c = "I'm a Data Developer"
# Afficher t1 en majuscule
print(t1.upper())

#Afficher t2 en minuscule
print(t2.lower())

# retrouver l'index de la 1ère occurrence du mot 'Data'
c.index("Data")

#Remplacer le mot 'Data' par le mot 'Software'
print(c.replace("Data","Software"))

#Découper la phrase en mots
c.split()

NOM
prenom
I'm a Software Developer

["I'm", 'a', 'Data', 'Developer']

* https://docs.python.org/3.3/library/string.html#formatexamples

## Les operation booléennes

* Evaluer et interpréter les operations suivantes:

In [ ]:
5 > 3 and 6 > 3

In [ ]:
5 > 3 or 5 < 3

In [ ]:
False or not False and True     # evaluer l'ordre des operandes: not, and, or

### Exos

* Décrire ce qui se passe à chacune des
trois lignes de l’exemple ci-dessous :

In [ ]:
>>> largeur = 20

>>> hauteur = 5 * 9.3

>>> largeur * hauteur

930

Assigner les valeurs respectives 3, 5, 7 à trois variables a, b, c.

Effectuer l’opération a-b//c. 

Interpréter le résultat obtenu.

In [72]:
#TBD

* Analyser le code ci dessous:

In [ ]:
# Test d’une opération arithmétique simple.
print("2+3*5 donne:")
print(2+3*5)

print("Les espaces sont possibles pour mieux présenter un calcul.")
print("2 + 3*5 + 1 donne aussi:")
print(2 + 3*5 + 1)

# À vous pour 2 + 3*5 - 5*(12 - 7) !!!

* Analyser ce code et utiliser une autre syntaxe pour avoir le meme résultat

In [29]:
a = 9
print("le carré de {} est {}".format(a, a**2))

le carré de 9 est 81

In [33]:
print(f'le carré de {a} est {a**2}')

le carré de 9 est 81